# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual environments
venv/
ENV/
env/
.venv

# PyCharm
.idea/

# VS Code
.vscode/
*.code-workspace

# Jupyter Notebook
.ipynb_checkpoints
*.ipynb_checkpoints/

# Testing
.pytest_cache/
.coverage
htmlcov/
.tox/

# Models and data (large files)
*.pb
data/models/
data/raw/
# data/processed/ (desactivé temporairement pour le dev)

# Databases (local development)
data/databases/
*.db
*.db-journal
*.db-wal
*.db-shm

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# Temporary files
*.tmp
*.bak
*.swp
*~
.cache/
tmp/
config_test.json
test_preprocessor/

# NETY temporary communication files
tmp_to_nety.txt
tmp_from_dashboard.txt

# Environment variables
.env
.env.exemple

# les modeles téléchargés (fichiers binaires lourds)
# Mais on garde le code source dans nety/models/
*.pth
*.pt
*.ckpt
*.h5
*.pkl
# Ignorer répertoire racine models/ pour les modèles téléchargés
/models/

#netoyage de la racine du projet
.flake8
desktop.ini
pytest.ini