-version

python --version
Python 3.11.5

pip -V
pip 23.2.1



-spacy 
pip install spacy

-pytorch
pip3 install torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu117

-CUBA
pip3 install torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu117 

-pyttsx3
pip install pyttsx3

-tkinter
pip install tk

-torch
pip install torch

-torchsummary 
pip install torchsummary 

-torchaudio
pip install torchaudio

-torchtext
pip install torchtext

-PortAudio
instalation sur site 

-PyAudio
pip install PyAudio
ou
pip3 install pyaudio

-notebooks Jupyter
pip install jupyter

